<mat-card style="min-height: 8em;">
    <mat-card-content [fxLayout]="'row'">
        <div fxFlex="4em"><i class="fa fa-user fa-4x"></i></div>
        <div fxFlex>
            <h3>{{user?.username}}</h3>
            <h4>{{user?.email}}</h4>
        </div>
        <div *ngIf="!validateDelete" fxFlex="3em" [fxFlexAlign]="'end'" [fxLayout]="'column'">
            <button [color]="'warn'" mat-icon-button (click)="deleteValidation(true)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div *ngIf="validateDelete" fxFlex="3em" [fxFlexAlign]="'end'" [fxLayout]="'column'">
            <h4>Are You Sure?</h4>
            <button [color]="'primary'" mat-icon-button (click)="deleteValidation(false)">
                <i class="fa fa-thumbs-o-down"></i>
            </button>
            <button [color]="'warn'" mat-icon-button (click)="delete()">
                <i class="fa fa-thumbs-o-up"></i>
            </button>
        </div>
    </mat-card-content>
</mat-card>